os:
  - osx
  - linux
language: java
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-7
      - g++-7
install:
  - if [ $TRAVIS_OS_NAME = linux ]; then
      sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7;
      sudo pip install conan;
    else
      brew install conan;
    fi
script:
  - travis_wait gradle clean test